* {
    margin: 0;
    font-family: Arial;
    border: border-box;

}
.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.nav-logo{
    height: 50px;
    width: 113px;

}
.logo{
    background-image: url("amazon_logo.png");
    background-size: cover;
    width: 100%;
    height: 50px;
    
}
.border{
    position: relative;
    padding:3px;
}
.border::after{
    content: "";
    position:absolute;
    height: 1.5px;
    width: 0%;
    background-color: white;
    transition: all ease 0.75s;
    border-radius: 0.75px;
}
.border:hover::after{
    width:100%
}
.add-first{
    color:#cccccc;
    font-size: 0.85rem;
    margin-left: 15px;
}
.add-sec{
    font-size: 1rem;
    margin-left: 3px;
}
.add-icon {
    display:flex;
}
.nav-search{
    justify-content: space-evenly;
    display: flex;
    height:40px;
    width: 620px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

}
.search-select{
    background-color: #f3f3f3;
    width: 50px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    text-align: center;
    border: none;

}
.search-input{
    width: 100%;
    border: none;
    font-size: 1rem;
}
.search-icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: #febd68;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #0f1111;
}
.flaglogo{
    background-image: url("flag-logo.png");
    background-size:cover;
    width: 27px;
    height: 18px;
}
.flag {
    display: flex;
    justify-content: center;
    align-items: center;
}
span{
    font-size: 0.7rem;
}
.nav-second{
    font-size: 0.85rem;
    font-weight: 700;

}
.nav-cart i{
    font-size: 30px;
}
.nav-cart{
    font-size: 0.85rem;
    font-weight: 700;
     
}
.panel{
    height: 40px;
    background-color:#222f3d;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;

}
.panel-ops p{
    display: inline;
}
.panel-ops{
    width: 70%;
    font-size: 0.85rem;
    display: flex;
    gap: 1.25vw;


}
.panel-deals{
    font-size: 0.9rem;
    font-weight: 700;

}
.hero-section{
    /* height:40vh; */
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    z-index: 1;
    -webkit-mask-image: linear-gradient(#000,#000000,#000000b8,#00000000);
}
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}
.swiper-wrapper{
    height: 100%;
    width: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .swiper-slide img {
  display:block;
  width: 100%;
  height: 100%;
  object-fit: cover;
} */
.swiper-button-next{
    top: 23vh;
    color: black;
    font-weight:100;
    
}
.swiper-button-prev{
    top: 23vh;
    color: black;
    font-weight: 100;
}
.swiper-slide img{
    height: 90vh;
    width: 100%;
}

.hero-msg {
    top:50vh;
    background-color:transparent;
    background-image: linear-gradient(
        120deg,
        rgba(255,255,255,0.3),
        rgba(0,0,0,0.2)
    );
    backdrop-filter: blur(10px);
    color:white;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    width: 80%;
    border-radius: 15px;
    margin-bottom: 30px;
    position: absolute;
    z-index: 9;



   
}
.shop-section{
    top:60vh;
    display: flex;
    flex-wrap: wrap ;
    justify-content: space-evenly;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 15px;
    background-color:transparent;
    position: absolute;
    z-index: 2;
}    
    
.box {
    height: 400px;
    width: 24.1%;
    border-radius: 11px;
    background-color:white;
    padding: 20px 0px 15px;
    margin: 5px;
    box-shadow: 0px 20px 20px #757676;
    font-family: system-ui ;
    transition-property: transform;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;

}
.box:hover{
    /* transform: scale(1.05); */
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.338) , white

    );

}
.box-img{
    height: 300px;
    background-size:cover ;
    margin-top: 1rem;
    margin-bottom: 1rem;

}
.overlay{
    height: 300px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    overflow: hidden;

}
.box:hover .box-img{
    scale: 1.1;
    transition: all ease-in-out 0.4s;
} 
.box-content{
    margin-left: 1rem;
    margin-right: 1rem;
}
.box-content p {
    color:#007185 ;
}
.page2{
    height: 100vh;
    width: 100%;
    background-color: white;
}
.footer{
    margin-top: 15px;
}
.foot-panel1{
    background-color: #37475a;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.7rem; 
}
.foot-panel2{
    background-color: #222f3d;
    color: white;
    height: 300px;
    display: flex;
    justify-content: space-evenly;


}
ul{
    margin-top: 20px;

}
ul a{
    display: block;
    font-size: 0.85rem;
    margin-top: 10px;
    color: #dddddd;


}
.foot-panel3{
    background-color: #222f3d;
    color: white;
    border-top:0.5px solid white ;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;


}
.logo{
    background-image: url("amazon_logo.png");
    background-size: cover;
    width: 100px;
    height: 50px;

}
.foot-panel4{
    background-color: #0f1111;
    color: white;
    height: 100px;
    font-size: 0.7rem;
    text-align: center;
}
.pages{ 
    padding: 25px;
}
.copyright{
    padding: 5px;
}
.page2{
    height: 75vh;
    width: 100%;
    background-color:transparent;
}
